body{
	background-color: #f4f4f4;
	font-family: Verdana;
}

.left{
	float: left;
}

.right{
	float: right;
}

.fix{
	clear: both;
}

.wrapper{
	width: 960px;
	margin: 0px auto;
}

.two{
	width: 480px;
}

.three{
	width: 320px;
}

.four{
	width: 240px;
}

.bootom-space{
	padding-top: 20px;
}

.menu ul li a{
	text-decoration: none;
	display: block;
	text-align: center;
	color: #4b6a88;
    letter-spacing: .8px;
}

.menu ul li{
	float: left;
	width: 100px;
	line-height: 50px;
	border-right: 5px solid #f4f4f4;
}

.menu ul{
	list-style: none;
	height: 50px;
	margin: 0px;
	padding: 0px;
}

.logo{
	width: 80%;
	margin-top: 9px;
    margin-left: 50px;	
}

.space{
	padding: 20px 0px 0px 0px;
}

.active{
	font-weight: bold;
	color: #2a2a2a;
}

.milan{
	width: 80%;
	margin-top: 50px;
}

.data{
	margin-top: 50px;
	line-height: 1.7;
    margin-bottom: 4%;
    letter-spacing: .8px;
}

.footer{
    letter-spacing: .8px;
}

.footer h5{
	text-transform: uppercase;
	margin: 0px;
}

.footer h2{
	margin: 0px;
}

.footer p{
	text-align: right;
}

.footer ul li a{
	text-decoration: none;
	display: block;
	text-align: center;
	color: #4b6a88;
    letter-spacing: .8px;
}

.footer ul li{
	float: left;
	width: 100px;
	line-height: 50px;
	border-right: 5px solid #f4f4f4;
}

.footer ul{
	list-style: none;
	height: 50px;
	margin: 0px;
	padding: 0px;
}

.content h2{
	text-align: center;
	letter-spacing: .8px;
	text-transform: uppercase;
}

.intrested{
	text-align: center;
}

.graphics{
	width: 50%;
}