.menu ul li a{
	text-decoration: none;
	color: white;
	display: block;
}

.menu ul li {
	float: left;
	display: block;
	width: 200px;
	border-right: 2px solid #fff;
	line-height: 60px;
	text-align: center;
}

.menu ul{
	list-style: none;
	background-color: blue;
	height: 60px;
	margin: 0px;
	padding: 0px;
}

.menu ul li:hover{
	background-color: red;
}

.active{
	font-weight: bold;
	background-color: green;
}
