
.wrapper {
    margin: 0px auto;
    width: 960px;
}

.space {
	padding: 20px 0px 0px 0px;
}

.fix {
    clear: both;
}

.left {
    float: left;
}

.title {
    width: 480px;
}

h3 {
    text-align: : left;
}

.two {
    width: 480px;
}

.three {
    width: 320px
}

.four {
    width: 240px;
    text-align: center;
}

.img {
    width: 960px;
    height: 300px;
    border-radius: 10px;
}

.img-other {
    width: 320px;
    border-radius: 10px;
}

.img-other-2 {
    width: 480px;
    border-radius: 10px;
}

.avtar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

p {
	padding-left: 20px;
}

img{
    border-radius: 10px;
}

