body{
	background-color: #f4f4f4;
	font-family: Verdana;
}

.space{
	padding-bottom: 20px;
}

.menu ul li a{
	text-decoration: none;
	display: block;
	text-align: center;
	color: #4b6a88;
    letter-spacing: .8px;
}

.menu ul li{
	float: left;
	width: 100px;
	line-height: 50px;
	border-right: 5px solid #f4f4f4;
}

.menu ul{
	list-style: none;
	height: 50px;
	margin: 0px;
	padding: 0px;
}

.logo{
	width: 40%;
	margin-top: 9px;
    margin-left: 50px;	
}

.active{
	font-weight: bold;
	color: #2a2a2a;
}

.milan{
	width: 80%;
	margin-top: 50px;
}

.data{
	margin-top: 50px;
	line-height: 1.7;
    margin-bottom: 4%;
    letter-spacing: .8px;
}

.footer{
    letter-spacing: .8px;
}

.footer h5{
	text-transform: uppercase;
	margin: 0px;
}

.footer h2{
	margin: 0px;
}

.footer p{
	text-align: right;
}

.footer ul li a{
	text-decoration: none;
	display: block;
	text-align: center;
	color: #4b6a88;
    letter-spacing: .8px;
}

.footer ul li{
	float: left;
	width: 100px;
	line-height: 50px;
	border-right: 5px solid #f4f4f4;
}

.footer ul{
	list-style: none;
	height: 50px;
	margin: 0px;
	padding: 0px;
}

.content h2{
	text-align: center;
	letter-spacing: .8px;
	text-transform: uppercase;
}

.intrested{
	text-align: center;
	padding-bottom: 20px;
}

.intrested-part{
	text-align: left;
	padding-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 0.8px;
}

.graphics{
	width: auto;
	height: 159px;
	text-align: center;
}

.graphics-aws{
	width: auto;
	height: 100px;
	padding-top: 30px;
	padding-bottom: 29px;
}

.graphics-sl{
	width: auto;
	height: 80px;
	padding-top: 40px;
	padding-bottom: 39px;
}

.graphics-iot{
	width: auto;
	height: 100px;
	padding-top: 30px;
	padding-bottom: 29px;
}