body{
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1.428571429;
    color: #333333;
}

.active{
    color: red;
    border-top: solid 3px #f79644;
    font-weight: bold;
}

.menu ul li a:hover{
    border-top: solid 3px #f79644;
    font-size: 15px;
}

.menu ul li a{
	text-decoration: none;	
    display: table;
	color: gray;
	display: block;
	text-align: center;
	line-height: 88px;
	font-size: 15px;
}

.menu ul li{
	float: left;
	background-color: white;
	border-right: 15px solid white;
	line-height: 88px;
}

.menu ul{
	list-style: none;
	height: 50px;
	margin: 0px;
	padding: 0px;
}


.logo{
	padding: 20px 0px;
	width: 194px;
	height: 48px;
}

.menu{
	float: right;
}

.slider{
	width: 1349px;
	height: 325.3px;
}

.title{
	border-bottom: solid 1px #f68a85;
    display: inline-block;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 20px;
}

.bg-color{
	background-color: #d3d3d3;
}

.bg-color-2{
	background-color: white;
	display: table;
	padding: 30px 25px; 
}

.title-2{
	display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1;
}

.estimate{
	background: url(../assets/estimate-bg.jpg);
	color: white;
	width: 100%;
	height: auto;
}

.estimate h4{
	padding-left: 135px;
    padding-top: 5px;
    font-weight: normal;
    font-size: 18px;
}

.estimate h1{
	font-weight: normal;
	padding-left: 90px;
    padding-top: 5px;
}

.footer{
    font-size: 10px;
    color: #868686;
    padding: 30px 0px 35px 0px;
}

.footer-bg{
	background-color: #333333;
}